* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header {
  height: 100px;
  width: 100%;
  background-color: rgb(235, 235, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: sticky;
  top: 0%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.logo {
  margin-left: 100px;
}

.navbar ul {
  display: inline-flex;
  margin-right: 400px;
  gap: 20%;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li a:hover {
  color: green;
  text-decoration: underline;
}
.navbar ul li a.active {
  color: green;
  text-decoration: underline;
}
.navbar ul li a.active1 {
  color: green;
  text-decoration: underline;
}

.hero {
  background-image: url("./Assets/images/bg-img.jpg");
  width: 100%;
  height: 90vh;
  background-position: top 25% right 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#text1 {
  position: absolute;
  top: 17%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 42px;
  font-weight: bold;
}
#text2 {
  position: absolute;
  top: 25%;
  left: 27%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 70px;
  font-weight: bolder;
}
#text3 {
  position: absolute;
  top: 34%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: rgb(68, 129, 121);
  font-size: 68px;
  font-weight: bolder;
}
#text4 {
  position: absolute;
  top: 42%;
  left: 16%;
  transform: translate(-50%, -50%);
  color: rgb(31, 77, 71);
  font-size: 15px;
  font-weight: lighter;
}
#text5 {
  position: absolute;
  top: 47%;
  left: 14%;
  color: rgb(57, 138, 95);
  font-weight: bold;
}
#image {
  position: absolute;
  top: 45%;
  left: 10%;
}
.sideMenu {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}
.shipping {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.onlineOrder {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.saveMoney {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.promotions {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.happysell {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.support {
  height: 140px;
  width: 10%;
  border: 1px solid rgb(242, 236, 236);
  padding: 15px;
  border-radius: 10px;
}
.shipping button {
  margin-left: 25px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(252, 193, 238);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.onlineOrder button {
  margin-left: 32px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(156, 242, 213);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.saveMoney button {
  margin-left: 30px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(202, 224, 248);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.promotions button {
  margin-left: 30px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(173, 173, 242);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.happysell button {
  margin-left: 40px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(248, 188, 247);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.support button {
  margin-left: 30px;
  margin-top: 3px;
  padding: 5px;
  border: none;
  background-color: rgb(247, 237, 226);
  color: rgb(62, 163, 62);
  font-weight: bold;
}
.featuredProducts {
  margin-top: 60px;
  text-align: center;
}
.featuredProducts span {
  font-size: 50px;
  font-weight: bold;
}
.shirt {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}
.shirt1 img {
  height: 300px;
  width: 290px;
  border: 1px solid rgb(241, 235, 235);
  padding: 10px 10px 100px 10px;
  border-radius: 10px;
}

.secondRow {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 10px;
}

.shirt1 p {
  margin-top: -100px;
  margin-left: 10px;
  color: rgb(227, 223, 223);
}
.shirt1 .content {
  font-size: large;
  margin-left: 10px;
}
.shirt1 span {
  font-size: x-large;
}
.shirt1 pre {
  margin-left: 10px;
  color: rgb(45, 144, 111);
  font-weight: bold;
}
.shirt1 .cart {
  margin-left: 270px;
  margin-top: -30px;
}

.banner img {
  height: 180px;
  width: 100%;
  margin-top: 100px;
}
.bText1 {
  text-align: center;
  color: white;
  margin-top: -170px;
  font-size: xxx-large;
  font-weight: bold;
}
.bText1 button {
  font-weight: lighter;
  padding: 10px 20px;
}
.newArrivals {
  margin-top: 100px;
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
}
.collection {
  text-align: center;
  font-size: medium;
  margin-top: 10px;
}
.newCollection1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 10px;
}
.shirt2 img {
  height: 300px;
  width: 290px;
  border: 1px solid rgb(241, 235, 235);
  padding: 10px 10px 100px 10px;
  border-radius: 10px;
}
.shirt2 p {
  margin-top: -100px;
  margin-left: 10px;
  color: rgb(227, 223, 223);
}
.shirt2 .content {
  font-size: large;
  margin-left: 10px;
}
.shirt2 span {
  font-size: x-large;
}
.shirt2 pre {
  margin-left: 10px;
  color: rgb(45, 144, 111);
  font-weight: bold;
}
.shirt2 .cart {
  margin-left: 270px;
  margin-top: -30px;
}
.newCollection2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 10px;
}
.crazyDeals {
  background: url(./Assets/images/banner/b17.jpg) no-repeat;
  margin: 100px 0px 0px 150px;
  height: 400px;
  width: 800px;
  position: relative;
}
.dealsText1 {
  position: absolute;
  margin: 8% 0px 0px 20px;
  color: white;
  font-size: large;
}
.dealsText2 {
  position: absolute;
  margin: 11% 0px 0px 20px;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}
.dealsText3 {
  position: absolute;
  margin: 16% 0px 0px 20px;
  color: white;
}
.dealsText4 {
  position: absolute;
  margin: 20% 0px 0px 20px;
  padding: 10px 15px 10px 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(254, 201, 104);
  border: none;
  border: 1px solid white;
}
.spring {
  background: url(./Assets/images/banner/b10.jpg) no-repeat;
  background-position-x: right;
  position: relative;
  background-size: 700px;
  height: 330px;
  margin: -56px 180px;
}
.springText1 {
  position: absolute;
  margin: 10% 0px 0px 41%;
  color: rgb(227, 222, 222);
}
.springText2 {
  position: absolute;
  margin: 12% 0px 0px 41%;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}
.springText3 {
  position: absolute;
  margin: 16% 0px 0px 41%;
  color: white;
}
.springText4 {
  position: absolute;
  margin: 18% 0px 0px 41%;
  padding: 10px 15px 10px 10px;
  font-weight: bold;
  background: none;
  color: white;
  border: 1px solid white;
}
.sideBanner {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.seasonalSale img {
  width: 350px;
  height: 150px;
}
.newFootwear img {
  width: 450px;
  height: 150px;
}

.seasonalSale P {
  color: white;
  margin: -30% 0px 0px 10px;
  font-weight: bolder;
  font-size: larger;
}
.seasonalSale span {
  color: white;
  margin-left: 10px;
  font-weight: bold;
}
.newFootwear p {
  color: white;
  margin: -23% 0px 0px 10px;
  font-weight: bolder;
  font-size: larger;
}
.newFootwear span {
  color: white;
  margin-left: 10px;
  font-weight: bold;
}
.signup {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
}
.content > p {
  color: white;
  font-weight: bolder;
  font-size: x-large;
  margin-top: 10%;
}
.content1 > span {
  color: rgb(209, 203, 203);
}

.form1 input {
  padding: 15px 150px 15px 15px;
  background-color: rgb(193, 187, 187);
  border: none;
  border-radius: 5px;
}
.form1 button {
  border: none;
  background-color: rgba(3, 195, 176, 0.845);
  padding: 15px 25px 15px 15px;
  margin-left: -5px;
  border-radius: 5px;
  margin-top: 10%;
}
.bgimg {
  background: rgb(27, 27, 71) url("./Assets/images/banner/b14.png") repeat;
  height: 150px;
  width: 100%;
}

footer {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  gap: 20px;
}

.footerRow4 img {
  border: 1px solid rgb(220, 231, 232);
  border-radius: 10px;
}

.bannerImg img {
  height: 200px;
  width: 100%;
}

.bannerText {
  color: white;
  text-align: center;
  margin-top: -170px;
}

.bannerText p {
  font-size: xxx-large;
}
.pageButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pageButtons button {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(24, 136, 114);
  color: white;
}

.blog {
  background-image: url("./Assets/images/banner/b19.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}

.blogBannerText {
  position: absolute;
  margin: 80px 600px;
  text-align: center;
  color: white;
}

.blogBannerText p {
  font-size: xxx-large;
  font-weight: bold;
}
.blogBannerText span {
  color: rgb(229, 226, 226);
}

.blog2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blogImg2 {
  margin-top: 150px;
  background-image: url("./Assets/images/blog/b1.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 570px;
  position: relative;
}

.blogText2 {
  margin-top: 200px;
}

.blogTextImg2 {
  font-size: 60px;
  font-weight: bolder;
  color: rgb(211, 198, 198);
  position: absolute;
  margin-top: -45px;
  z-index: -9;
}
.blogText2 button {
  border: none;
  background: none;
}
.blogImg3 {
  margin-top: 150px;
  background-image: url("./Assets/images/blog/b2.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 570px;
  position: relative;
}
.blogImg4 {
  margin-top: 150px;
  background-image: url("./Assets/images/blog/b3.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 570px;
  position: relative;
}
.blogImg5 {
  margin-top: 150px;
  background-image: url("./Assets/images/blog/b4.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 570px;
  position: relative;
}
.blogImg6 {
  margin-top: 150px;
  background-image: url("./Assets/images/blog/b6.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 570px;
  position: relative;
}

.aboutBanner {
  height: 300px;
  width: 100%;
  background-image: url("./Assets/images/about/banner.png");
  background-size: cover;
  text-align: center;
  position: relative;
}
.aboutBannerText {
  position: absolute;
  margin: 80px 600px;
  text-align: center;
  color: white;
}

.aboutBannerText p {
  font-size: xxx-large;
  font-weight: bold;
}
.aboutBannerText span {
  color: rgb(229, 226, 226);
}
.aboutInfo {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.aboutImg img {
  height: 350px;
  width: 600px;
}
.aboutText {
  margin-top: 20px;
}
.aboutText p {
  font-weight: bold;
  font-size: xx-large;
}
.aboutText2 pre {
  text-decoration: underline dotted;
}
.aboutHeading {
  text-align: center;
  margin-top: 50px;
}
.aboutVideo video {
  height: 500px;
  width: 500px;
  border-radius: 15%;
  margin-left: 30%;
}
.contactBanner {
  height: 300px;
  width: 100%;
  background-image: url("./Assets/images/about/banner.png");
  background-size: cover;
  text-align: center;
  position: relative;
}
.contactBannerText {
  position: absolute;
  margin: 80px 600px;
  text-align: center;
  color: white;
}

.contactBannerText p {
  font-size: xxx-large;
  font-weight: bold;
}
.contactBannerText pre {
  color: rgb(229, 226, 226);
}

.contactInfo {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 50px;
}
.contactInfoText {
  margin-top: 40px;
}

.inputInfo {
  display: flex;
  justify-content: center;
  gap: 100px;
  border: 1px solid rgb(236, 239, 239);
  margin: 50px;
  padding: 50px;
}
.review1,
.review2,
.review3 {
  display: flex;
  gap: 20px;
}
.inputForm input {
  height: 40px;
  width: 700px;
  border: 1px solid rgb(228, 224, 224);
}
.inputForm button {
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(27, 162, 112);
}

.review1,
.review2,
.review3 {
  margin-top: 50px;
  margin-left: 30px;
}
.inputInfo table,
td,
th {
  padding: 30px 60px 0px 60px;
}
.cartTable input {
  height: 30px;
  width: 70px;
}
.cartDeatils {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
.cartCoupon input {
  height: 40px;
  width: 300px;
  border-color: rgb(239, 236, 236);
  padding-left: 10px;
}
.cartCoupon button {
  padding: 10px 20px;
  background-color: rgb(37, 125, 125);
  color: white;
  border-radius: 5px;
}
.cartTotal {
  border: 1px solid rgb(239, 236, 236);
  padding: 20px;
}
.cartTotal table {
  border-collapse: collapse;
  width: 100%;
}

.cartTotal table td {
  border: 1px solid rgb(173, 168, 168);
  color: rgb(101, 105, 106);
  width: 200px;
}
.cartTotal button {
  padding: 15px 20px;
  color: white;
  background-color: rgb(35, 139, 139);
  border-radius: 5px;
}
.product {
  margin-top: 60px;
  display: flex;
  /* padding: 50px 100px; */
  justify-content: center;
  gap: 50px;
}
.shirt20 {
  background-image: url("./Assets/images/products/f1.jpg");
  height: 500px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.productText {
  padding-top: 20px;
}
.productText input {
  height: 50px;
  width: 50px;
}
.productText button {
  padding: 20px 15px;
  color: white;
  background-color: rgb(35, 139, 139);
}
.shirtScards {
  display: flex;
  justify-content: space-between;
  margin-top: -85px;
}
.shirtim img {
  width: 90px;
  height: 100px;
}
